# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
__pycache__/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
lerobot/tests/artifacts/
lerobot/src/Data
lerobot/src/ckpt
lerobot/src/urdf
lerobot/src/outputs
lerobot/src/logs/
lerobot/realworld_replay_recording
lerobot/src/recordings

# openpi specific
openpi/ckpt/
openpi/checkpoints/
openpi/logs/
openpi/outputs/
openpi/wandb/
openpi/assets/
openpi/Data/


lingbot-va/Data
lingbot-va/checkpoints
lingbot-va/outputs
lingbot-va/ckpt
lingbot-va/train_out
lingbot-va/empty_emb.pt


umi/ckpt
umi/data
umi/wandb
umi/diffusion_policy/env/
UMI/ckpt
UMI/data
UMI/wandb
UMI/diffusion_policy/env/


third_party/

# Cosmos Policy environment
cosmos-policy/.venv/
cosmos-policy/.venv
cosmos-policy/__pycache__/
*.mp4
*.hdf5
cosmos-policy/.cuda-name
cosmos-policy/build/
*.pkl
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Cosmos Policy outputs & checkpoints
cosmos-policy/outputs/
cosmos-policy/checkpoints/
cosmos-policy/ckpt/
cosmos-policy/logs/
cosmos-policy/wandb/
cosmos-policy/data/
cosmos-policy/train_out/

# Training monitor generated state/errors
monitor_output/
obsutil_output/
obsutil_checkpoint/
